<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings> 
		<add key="MySQLPath" value="C:\\Program Files\\MySQL\\MySQL Server 8.0\\bin\\mysql.exe" />
		<add key="MySQLLogsPath" value="C:\\MOZART\\Logs.txt" />
		<add key="MySQLUser" value="root" />
		<add key="MySQLPass" value="root" />
		<add key="SSMAPath" value="C:\\Program Files\\Microsoft SQL Server Migration Assistant for MySQL\\bin\\SSMAforMySqlConsole.exe " />
		<add key="SSMAConversionAndDataMigration" value="C:\\MOZART\\ConversionAndDataMigration.xml" />
		<add key="SSMAServersConnectionFile" value="C:\\MOZART\\ServersConnectionFile.xml" />
		<add key="SSMAVariableValueFile" value="C:\\MOZART\\VariableValueFile.xml" />
		<add key="SSMALogs" value="C:\\MOZART\\MigrationReportFiles\\MigratiomysqlnLogs.txt" />
		<add key="DUPMSPath" value="C:\MOZART\SQL_DUMPS\" />
		<add key="BackUpDUMPSPath" value="E:\\MOZART\\SQL_DUMPS\\" />
		<add key="WinRarPath" value="C:\\Program Files\\WinRAR\\WinRAR.exe" />
		<add key="ConnectionString" value="server=localhost;port=3306;user=root;password=root;database=mozart_q_submissions" />
		
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
          <dependentAssembly>
	
              <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-3.1.19.0" newVersion="3.1.19.0" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>